<!-- social links -->
<div class="container-fluid padding" id="contact-section">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>Connect </h2>
    </div>
    <div class="col-12 social padding">
      <a href="https://www.facebook.com/Robo_werk-101289481329825/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/RoboWerk"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/company/30160286"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
