<!-- mission section -->
<div class="container-fluid padding" id="mission-section">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Our Mission</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">Robo-Werk is born to reimagine the repetitive processes with pioneer ideas.
        It thinks of automation to meet the customer's satisfaction and elevate customer's experience.
        To enhance efficiency, exponentially cut down the costs & make work more inspiring,
        Robo-Werk always brainstorms to continuously improve and deliver excellence in solution.
        It introduces the human society to a much happier place to work and live.
      </p>
    </div>
  </div>
</div>
