<div class="container-fluid padding footer">
  <div class="row text-center">
    <div class="col-md-12">
      <span>Robo-Werk</span>
      <hr class="light">
      <p>Chemnitz University of Technology</p>
      <p>Str. der Nationen 62</p>
      <p>09111 Chemnitz</p>
      <p> Deutschland</p>
    </div>
    <div class="col-12">
      <hr class="light-100">
      <h5>&copy;<i>This website does not belong to a real company. It is a Planspiel Web Engineering project.</i></h5>
    </div>
  </div>
</div>
