<!-- navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/img/text4015.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#about-section">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mission-section">Mission</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#purpose-section">Purpose</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#value-section">Value</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#vision-section">Vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team-section">Team</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

