<!-- values section -->
<div class="container-fluid padding" id="value-section">
  <div class="row welcome text-center">
    <div class="col-12">
      <h1 class="display-4">Our Values</h1>
    </div>
    <hr>
    <div class="col-12">
      <p class="lead">Our values include "commitment to customers, discipline, risk-taking and constant improvement."
        They are the mainstream to everything we do.</p>

      <p class="lead">Our commitment defines the responses of employees to challenges our customers
        face in the society. Our organizational discipline shows the speeds of teamwork and utilize
        the information and experiences gained by individual workers to develop better policies and
        program and drive to goal. That is why the company has no fear of taking risk to come out with
        new innovations. We push the limits, break the barriers and make thing happen with constant improvement.</p>
    </div>
  </div>
