<!-- welcome section -->
<div class="container-fluid padding" id="about-section">

  <div class="row welcome">
    <div class="col-12">
      <h1 class="display-4 text-center">About Us</h1>
    </div>
    <hr>
  </div>

  <div class="row text-center">
    <div class="col-12">
      <p class="lead">Robo-Werk is a startup company created by students of TU Chemnitz.
        In this era of digital transformation, yet, there are many businesses needed user interaction
        to complete the similar task repeatedly. For this type of task, Robo-Werk is specialized in
        providing solutions with Robotic Process Automation to replace the repetitive efforts of users
        by automation. The main focus of Robo-Werk is to provide services that needs
        less human interaction and more self-execution.</p>
    </div>
  </div>
</div>
